@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");


body{
  font-family: "Poppins";
  font-size: 2vh;
  text-align: center;
  background-color: #FFDDD2;
}
h1{
  color: #EDF6F9;
}
.radius-img{
  background-color: #FFDDD2;
  border-radius:40%;
  height: 200px;
  box-shadow: 5px 5px #006D77;
}

.card-profile{
  background-color: #83C5BE;
  border-radius: 30px;
  width: 500px;
  margin: 15vh auto auto;
  padding: auto;
  font-size: 15px;
  box-shadow: 5px 5px #006D77;
}
.card-profile p{
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 3vh;
}
.card-profile a{
  color:FFDDD2;
  text-decoration: none;
}
a:hover{
  color:#006D77;
  transform: scale(150%);
}
.card-sns{
  background-color: #83C5BE;
  border-radius: 30px;
  width: 300;
  margin: auto;
  box-shadow: 5px 5px #006D77;
}
.logo-profile{
  height: 40px;
  margin-right: 2vh;
  margin-bottom: 2vh;
}
ul{
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: center;
}
ul li{
  display: inline-flex;
}
.card-sns h2{
  font-size: 20px;
  color: EDF6F9;
}
.logo-profile:hover{
  transform: scale(110%);
}
.eggs a{
  color: black;
  text-decoration: none;
}
